USE [master]
GO
/****** Object:  Database [HTQLCHTL]    Script Date: 6/24/2026 8:41:51 PM ******/
CREATE DATABASE [HTQLCHTL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTQLCHTL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HTQLCHTL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTQLCHTL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HTQLCHTL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTQLCHTL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTQLCHTL]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/24/2026 8:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[msdm] [nvarchar](10) NOT NULL,
	[tenDanhMuc] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[msdm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 6/24/2026 8:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGD] [nvarchar](10) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[ThoiGianGD] [datetime] NULL,
	[MaND] [nvarchar](10) NULL,
	[MaDM] [nvarchar](10) NULL,
	[MaMuctieu] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucTieu]    Script Date: 6/24/2026 8:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucTieu](
	[MaMuctieu] [nvarchar](10) NOT NULL,
	[Tenmuctieu] [nvarchar](50) NOT NULL,
	[SoTienMT] [decimal](18, 2) NOT NULL,
	[SoTienHC] [decimal](18, 2) NULL,
	[TGBatDau] [datetime] NOT NULL,
	[TGKetThuc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuctieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganSach]    Script Date: 6/24/2026 8:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganSach](
	[MaNS] [nvarchar](10) NOT NULL,
	[SoTienNS] [decimal](18, 2) NOT NULL,
	[MaDM] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/24/2026 8:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [nvarchar](10) NOT NULL,
	[TenND] [nvarchar](50) NOT NULL,
	[EmailND] [nvarchar](100) NULL,
	[SdtND] [nvarchar](15) NULL,
	[MkND] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([msdm], [tenDanhMuc], [moTa]) VALUES (N'DM01', N'Lương', N'Thu nhập chính')
INSERT [dbo].[DanhMuc] ([msdm], [tenDanhMuc], [moTa]) VALUES (N'DM02', N'Thu nhập khác', N'Khoản thu ngoài')
INSERT [dbo].[DanhMuc] ([msdm], [tenDanhMuc], [moTa]) VALUES (N'DM03', N'Ăn uống', N'Chi tiêu ăn uống')
GO
INSERT [dbo].[GiaoDich] ([MaGD], [SoTien], [GhiChu], [ThoiGianGD], [MaND], [MaDM], [MaMuctieu]) VALUES (N'GD01', CAST(12000000.00 AS Decimal(18, 2)), N'Lương công ty tháng này', CAST(N'2026-06-23T17:54:24.390' AS DateTime), N'ND01', N'DM01', NULL)
INSERT [dbo].[GiaoDich] ([MaGD], [SoTien], [GhiChu], [ThoiGianGD], [MaND], [MaDM], [MaMuctieu]) VALUES (N'GD02', CAST(65000.00 AS Decimal(18, 2)), N'Ăn trưa trà sữa', CAST(N'2026-06-23T17:54:24.390' AS DateTime), N'ND01', N'DM03', NULL)
INSERT [dbo].[GiaoDich] ([MaGD], [SoTien], [GhiChu], [ThoiGianGD], [MaND], [MaDM], [MaMuctieu]) VALUES (N'GD03', CAST(350000.00 AS Decimal(18, 2)), N'Mua quần áo mới', CAST(N'2026-06-23T17:54:24.390' AS DateTime), N'ND01', N'DM05', NULL)
GO
INSERT [dbo].[MucTieu] ([MaMuctieu], [Tenmuctieu], [SoTienMT], [SoTienHC], [TGBatDau], [TGKetThuc]) VALUES (N'MT01', N'Mua Đĩa Bay', CAST(100000000.00 AS Decimal(18, 2)), CAST(105000.00 AS Decimal(18, 2)), CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2099-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[MucTieu] ([MaMuctieu], [Tenmuctieu], [SoTienMT], [SoTienHC], [TGBatDau], [TGKetThuc]) VALUES (N'MT02', N'Sống sót qua kỳ này', CAST(500000.00 AS Decimal(18, 2)), CAST(410000.00 AS Decimal(18, 2)), CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(N'2026-07-30T00:00:00.000' AS DateTime))
INSERT [dbo].[MucTieu] ([MaMuctieu], [Tenmuctieu], [SoTienMT], [SoTienHC], [TGBatDau], [TGKetThuc]) VALUES (N'MT99', N'Laptop', CAST(20000000.00 AS Decimal(18, 2)), CAST(6500000.00 AS Decimal(18, 2)), CAST(N'2026-06-18T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [EmailND], [SdtND], [MkND]) VALUES (N'ND01', N'Người Dùng Thử', NULL, NULL, N'123')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [EmailND], [SdtND], [MkND]) VALUES (N'U01', N'test', N'abc@gmail.com', N'0123456789', N'123456')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [EmailND], [SdtND], [MkND]) VALUES (N'U02', N'Người Dơi', N'batman@hangdong.com', N'0999999999', N'ilovejoker')
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT (getdate()) FOR [ThoiGianGD]
GO
ALTER TABLE [dbo].[MucTieu] ADD  DEFAULT ((0)) FOR [SoTienHC]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([msdm])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaMuctieu])
REFERENCES [dbo].[MucTieu] ([MaMuctieu])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[NganSach]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([msdm])
GO
USE [master]
GO
